In [2]:
#Задачи
#Выделите из колонки attributes значение атрибута Parent. Т.е. если там записано Parent=x, то нам нужен x
#Выясните, какое из этих значений является самым частым
#Постройте распределение встречаемости значений в столбце type

In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-e-juhimenko/shared/homeworks/python_ds_miniprojects/6_gff/gff.tsv', sep = '\t')

In [48]:
df.head()

,seq_id,source,type,start,end,score,strand,phase,attributes
0,chr17,RefSeq,exon,6811330,6811453,.,+,.,Parent=XM_001475631.1
1,chr17,RefSeq,CDS,6808204,6808245,.,+,0,Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...
2,chr17,RefSeq,CDS,6811792,6811869,.,+,2,Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...
3,chr17,RefSeq,exon,6806513,6806553,.,+,.,Parent=XM_001475631.1
4,chr17,RefSeq,five_prime_UTR,6806513,6806526,.,+,.,Parent=XM_001475631.1

In [50]:
df['attribute_2'] = [x.split(';')[-1] for x in df.attributes]

In [52]:
df['attribute_3'] = [x.split('=')[-1] for x in df.attribute_2]

In [56]:
df.attribute_3 = df.attribute_3.str.replace(',','')

In [57]:
df.head()

,seq_id,source,type,start,end,score,strand,phase,attributes,attribute_2,attribute_3
0,chr17,RefSeq,exon,6811330,6811453,.,+,.,Parent=XM_001475631.1,Parent=XM_001475631.1,XM_001475631.1
1,chr17,RefSeq,CDS,6808204,6808245,.,+,0,Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...,"Parent=XM_001475631.1,",XM_001475631.1
2,chr17,RefSeq,CDS,6811792,6811869,.,+,2,Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...,"Parent=XM_001475631.1,",XM_001475631.1
3,chr17,RefSeq,exon,6806513,6806553,.,+,.,Parent=XM_001475631.1,Parent=XM_001475631.1,XM_001475631.1
4,chr17,RefSeq,five_prime_UTR,6806513,6806526,.,+,.,Parent=XM_001475631.1,Parent=XM_001475631.1,XM_001475631.1

In [59]:
df.value_counts('attribute_3')

attribute_3
XM_001475631.1              479
NC_000083.5:LOC100040603     33
dtype: int64

In [60]:
df.value_counts('type')

type
exon               201
CDS                170
five_prime_UTR      47
mRNA                33
three_prime_UTR     32
protein             29
dtype: int64