In [2]:
import pandas as pd 
import requests
import seaborn as sns
import matplotlib.pyplot as plt
import json
import numpy as np

In [ ]:
# Предположим, ваша задача – найти все произведения, связанные с подсолнухами. 
#Выполните поиск по слову "sunflowers". Внимательно посмотрите на формат ответа
#и сохраните id полученных объектов в список sunflower_ids.
#В качестве ответа выберите id объектов (3), которые присутствуют в полученном списке: lst

In [4]:
r = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?q=sunflowers')
res = r.json()

In [5]:
sunflower_ids = res['objectIDs']

In [6]:
 lst = [437329, 2032, 20149, 436524, 16822570]

In [7]:
for i in lst:
    if i in sunflower_ids:
        print(i)

437329
2032
436524

In [ ]:
#Следущий этап – собрать информацию об этих объектах.
#Выполните запрос для объекта 437980. Для проверки соотнесите полученные параметры с их значениями:

In [8]:
r_test = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/437980')
obj_test = r_test.json()

In [30]:
obj_test['objectID']

437980

In [31]:
obj_test['objectName']

'Painting'

In [32]:
obj_test['department']

'European Paintings'

In [34]:
obj_test['artistDisplayName']

'Vincent van Gogh'

In [33]:
obj_test['title']

'Cypresses'

In [ ]:
#Теперь напишите цикл, с помощью которого будет собрана информация об объектах, которые были получены на 2 шаге.
#Результаты запишите в датафрейм, а именно – следующие параметры:
#objectID – id объекта
#title – название
#artistDisplayName – автор
#department – департамент
#objectBeginDate – дата (начало)
#objectEndDate – дата (конец)
#period – название периода
#objectName – название/категория объекта
#culture – культура
#Сколько объектов относятся к японской культуре? (culture –Japan)

In [ ]:

sunflower_ids

In [65]:
data = {'objectID': np.nan, 'title': np.nan, 'artistDisplayName': np.nan, 'department': np.nan, 'objectBeginDate': np.nan, 
             'objectEndDate': np.nan, 'period': np.nan, 'objectName': np.nan, 'culture': np.nan}

In [84]:
df1 = pd.DataFrame(data, columns = ['objectID', 'title', 'artistDisplayName', 'department', 'objectBeginDate', 
             'objectEndDate', 'period', 'objectName', 'culture'])
df1

Empty DataFrame
Columns: [objectID, title, artistDisplayName, department, objectBeginDate, objectEndDate, period, objectName, culture]
Index: []

In [89]:
for i in sunflower_ids: 
    r = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/' + str(i))
    obj = r.json()
    keys = ['objectID', 'title', 'artistDisplayName', 'department','objectBeginDate', 'objectEndDate', 'period', 'objectName', 'culture']
    values = []
    for key in keys:
        try:
            values.append(obj[key])
        except:
            values.append('')
    df1 = df1.append(dict(zip(keys, values)), ignore_index=True)
df1.head()

,objectID,title,artistDisplayName,department,objectBeginDate,objectEndDate,period,objectName,culture
0,436524,Sunflowers,Vincent van Gogh,European Paintings,1887,1887,,Painting,
1,484935,Sunflowers,Edward McKnight Kauffer,Modern and Contemporary Art,1921,1921,,Painting,
2,437112,Bouquet of Sunflowers,Claude Monet,European Paintings,1881,1881,,Painting,
3,210191,Vase with sunflowers,Rozenburg Plateelfabriek,European Sculpture and Decorative Arts,1896,1896,,Vase,
4,431264,Sunflowers,Lily Converse,Drawings and Prints,1941,1941,,Print,

In [88]:
df1[df1.culture == 'Japan']

,objectID,title,artistDisplayName,department,objectBeginDate,objectEndDate,period,objectName,culture
28,57922,Incense box,,Asian Art,1700,1799,Edo period (1615–1868),Incense box,Japan

In [ ]:
#Выполните поисковый запрос для департамента "Asian art" (departmentId = 6) с тегом "cat" 
#и запишите id объектов в cat_ids. Используйте цикл из шага 4, чтобы получить данные о первой 1000 объектов из списка.
#В качестве ответа укажите, в каком периоде (period) было выполнено наибольшее количество работ, представленных в музее?

In [3]:
r = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?departmentId=6&q=cat')
cats = r.json()

In [6]:
cat_ids = cats['objectIDs']

In [8]:
data = {'objectID': np.nan, 'title': np.nan, 'artistDisplayName': np.nan, 'department': np.nan, 'objectBeginDate': np.nan, 
             'objectEndDate': np.nan, 'period': np.nan, 'objectName': np.nan, 'culture': np.nan}

In [9]:
df1 = pd.DataFrame(data, columns = ['objectID', 'title', 'artistDisplayName', 'department', 'objectBeginDate', 
             'objectEndDate', 'period', 'objectName', 'culture'])
df1

Empty DataFrame
Columns: [objectID, title, artistDisplayName, department, objectBeginDate, objectEndDate, period, objectName, culture]
Index: []

In [10]:
for i in cat_ids: 
    r = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/' + str(i))
    obj = r.json()
    keys = ['objectID', 'title', 'artistDisplayName', 'department','objectBeginDate', 'objectEndDate', 'period', 'objectName', 'culture']
    values = []
    for key in keys:
        try:
            values.append(obj[key])
        except:
            values.append('')
    df1 = df1.append(dict(zip(keys, values)), ignore_index=True)

In [16]:
df1.head()

,objectID,title,artistDisplayName,department,objectBeginDate,objectEndDate,period,objectName,culture
0,49698,Cat,Zhang Yuguang,Asian Art,1900,1968,,Folding fan mounted as an album leaf,China
1,49470,Cat,Wang Li,Asian Art,1813,1879,Qing dynasty (1644–1911),Hanging scroll,China
2,53222,Musk Cat,Uto Gyoshi,Asian Art,1550,1599,Muromachi period (1392–1573),Hanging scroll,Japan
3,36221,Cat,Wang Yun,Asian Art,1900,1933,,Hanging scroll,China
4,60873,Head ornament,,Asian Art,960,1279,Song dynasty (960–1279) or later,Head ornament,China

In [15]:
df1.period.value_counts().idxmax()

'Edo period (1615–1868)'